USE [master]
GO
/****** Object:  Database [AFileStorageDB]    Script Date: 06/02/2014 17:28:22 ******/
CREATE DATABASE [AFileStorageDB] ON  PRIMARY 
( NAME = N'AFileStorageDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AFileStorageDB.mdf' , SIZE = 19712KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AFileStorageDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\AFileStorageDB_log.LDF' , SIZE = 12608KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AFileStorageDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AFileStorageDB]
GO
/****** Object:  User [FileLoader]    Script Date: 06/02/2014 17:28:22 ******/
CREATE USER [FileLoader] FOR LOGIN [FileLoader] WITH DEFAULT_SCHEMA=[FileLoader]
GO
/****** Object:  Schema [FileLoader]    Script Date: 06/02/2014 17:28:22 ******/
CREATE SCHEMA [FileLoader] AUTHORIZATION [FileLoader]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 06/02/2014 17:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subscription](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[KW1] [varchar](20) NULL,
	[KW2] [varchar](20) NULL,
	[KW3] [varchar](20) NULL,
	[KW4] [varchar](20) NULL,
	[KW5] [varchar](20) NULL,
	[KW6] [varchar](20) NULL,
	[KW7] [varchar](20) NULL,
	[KW8] [varchar](20) NULL,
	[KW9] [varchar](20) NULL,
	[KW10] [varchar](20) NULL,
	[KWChange] [int] NULL,
	[LastUpdate] [varchar](20) NULL,
	[ContractTypeID] [int] NOT NULL,
	[Period] [int] NULL,
	[StartDate] [varchar](20) NULL,
	[EndDate] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContractTypeID] ASC,
	[AccountID] ASC,
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Files]    Script Date: 06/02/2014 17:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Files](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContentType] [varchar](50) NOT NULL,
	[Size] [bigint] NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[Date] [varchar](50) NULL,
	[U] [varchar](50) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContractType]    Script Date: 06/02/2014 17:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContractType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Keywords] [int] NULL,
	[Duration] [int] NULL,
	[Price] [money] NULL,
	[KWChanges] [int] NULL,
 CONSTRAINT [PK__Contract__3214EC271A14E395] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AccountType]    Script Date: 06/02/2014 17:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK__AccountT__3214EC271DE57479] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Account]    Script Date: 06/02/2014 17:28:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Company] [varchar](100) NULL,
	[HP] [varchar](8) NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
