<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="240" maxRequestLength="20480" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <appSettings>
    <add key="DBConnectionString"
         value="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=AFileStorageDB;Integrated Security=True;
          User Id=FileLoader;Password=Pd123456;pooling=false"/>
  </appSettings>
</configuration>
